@use '../../abstracts';
@import '../../abstracts/colors';

.app__home {
  width: 100%;
  height: 100vh;
  background: $primary-background;
}

.app__home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.app__home-hello {
  color: $primary-color;
  font-size: 1.75rem;

  @media (max-width: 640px) {
    font-size: 1.25rem;
  }
}

.app__home-name {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: $secondary-color;

  @media (min-width: 640px) {
    font-size: 4.5rem;
    line-height: 1;
  }
}

.app__home-statement {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: $tertiary-color;

  @media (min-width: 640px) {
    font-size: 4.5rem;
    line-height: 1;
  }
}

.app__home-description {
  color: $tertiary-color;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 700px;
}

.app__home-button {
  display: flex;
  align-items: center;
  color: #ffffff;
  border-width: 2px;
  padding: 0.75rem 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  &:hover {
    background-color: $primary-color;
    border-color: $primary-color;
  }
}