@use '../../../abstracts/index' as *;

.app__navbar-social-menu {
  display: none;
  position: fixed;
  flex-direction: column;
  left: 0;
  top: 35%;

  @media screen and (min-width: 1024px) {
    display: flex;
  }
}

.app__navbar-social-item {
  display: flex;
  transition-duration: 300ms;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  height: 60px;
  margin-left: -97px;

  &:hover {
    margin-left: 0;
  }

  &.app__color-accent {
    background: $primary-color;
  }
}

.app__navbar-social-item-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-background;
  width: 100%;
}