.app__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  width: 100%;
  height: 80px;
  --tw-bg-opacity: 1;
  background-color: rgb(10 25 47 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    // width: 180px;
    height: 40px;

    @media screen and (min-width: 2000px) {
      // width: 360px;
      height: 80px;
    }
  }
}