.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    // width: 180px;
    height: 40px;

    @media screen and (min-width: 2000px) {
      // width: 360px;
      height: 80px;
    }
  }
}